{% extends 'base2.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="container content-area">
        <h5 class="text-info">{% now "j F Y, H:i" %}</h5>
        <div class="row">

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Breakfast</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ today_meals_count.today_breakfast_count }}</h5>
                        <p class="card-text">
                            {% for breakfast in today_meals %}
                                <li>{{ breakfast.user.get_full_name }} <strong>({{ breakfast.breakfast }})</strong></li>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Lunch</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ today_meals_count.today_lunch_count }}</h5>
                        <p class="card-text">
                            {% for breakfast in today_meals %}
                                <li>{{ breakfast.user.get_full_name }} <strong>({{ breakfast.lunch }})</strong></li>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Dinner</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ today_meals_count.today_dinner_count }}</h5>
                        <p class="card-text">
                            {% for breakfast in today_meals %}
                                <li>{{ breakfast.user.get_full_name }} <strong>({{ breakfast.dinner }})</strong></li>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}