{% extends 'base2.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="container content-area">
        <h5 class="text-info">{% now "j F Y, H:i" %}</h5>
        <div class="row">

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Breakfast</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ today_meals_count.today_breakfast_count }}</h5>
                        <p class="card-text">
                            {% for meal in today_meals %}
                                {% if meal.breakfast != 0 %}
                                    <li>{{ meal.user.get_full_name }} <strong>({{ meal.breakfast }})</strong></li>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Lunch</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ today_meals_count.today_lunch_count }}</h5>
                        <p class="card-text">
                            {% for meal in today_meals %}
                                {% if meal.lunch != 0 %}
                                    <li>{{ meal.user.get_full_name }} <strong>({{ meal.lunch }})</strong></li>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Dinner</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ today_meals_count.today_dinner_count }}</h5>
                        <p class="card-text">
                            {% for meal in today_meals %}
                                {% if meal.dinner != 0 %}
                                    <li>{{ meal.user.get_full_name }} <strong>({{ meal.dinner }})</strong></li>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Total meals in <strong>{% now "F" %}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ current_month_total_meals.total_meals }}</h5>
                        <p class="card-text">
                            {% for user_meal in current_month_user_meals %}
                                <li>{{ user_meal.user__first_name }} {{ user_meal.user__last_name }}
                                    <strong>
                                        ({{ user_meal.total_meals }})
                                    </strong>
                                </li>
                            {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Total bazaar in <strong>{% now "F" %}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ current_month_total_bazaar.total_bazaar }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Total extra cost in <strong>{% now "F" %}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ current_month_total_extra_cost.total_extra_costs }}</h5>
                    </div>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Total meals in <strong>{% now "F" %}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ previous_month_total_meals.total_meals }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Total bazaar in <strong>{% now "F" %}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ previous_month_total_bazaar.total_bazaar }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Total extra cost in <strong>{% now "F" %}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ previous_month_total_extra_cost.total_extra_costs }}</h5>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}