{% extends 'base2.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="container content-area">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="card-header m-b-15">
                        <h4>About content</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Sr no</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" class="text-decoration-none"><i class="ti-pencil-alt"></i></a>
                                    &nbsp;
                                    <a href="javascript:void(0)" id="delete-id" class="text-decoration-none"><i
                                            class="ti-trash"></i></a> &nbsp;
                                    <a href="#" class="text-decoration-none"><i class="ti-eye"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}