{% extends 'base2.html' %}
{% block title %} Meal List {% endblock %}
{% block content %}
    <div class="container content-area">
        <div class="row">
            <div class="col-md-12">
                <h4>Meal List</h4>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <div class="alert-message">
                                <strong>{{ message }}</strong>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="get" action="{% url 'meal-search' %}" class="form-inline">
                    {#                    {% csrf_token %}#}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label class="m-b-10 m-r-5"
                                   for="{{ field.id_for_label }}"><strong>{{ field.label_tag }}</strong></label>
                            <div class="input-group mb-2 mr-sm-2">
                                {% if field.field.widget.input_type == 'select' or field.field.widget.input_type == 'text' %}
                                    {{ field }}
                                {% endif %}

                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li><span class="text-danger m-b-none">{{ error }}</span></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if field.help_text %}
                                    <span class="help-block m-b-none">{{ field.help_text }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>

                <div class="card">
                    <table class="table table-striped table-responsive-sm table-responsive-xl table-responsive-md">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>B</th>
                            <th>L</th>
                            <th>D</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for meal in object_list %}
                            <tr>
                                <td>{{ meal.meal_date }}</td>
                                <td>{{ meal.breakfast }}</td>
                                <td>{{ meal.lunch }}</td>
                                <td>{{ meal.dinner }}</td>
                                <td>{{ meal.created_at }}</td>
                                <td class="table-action">
                                    <a href="{% url 'meal-update' meal.id %}" data-toggle="tooltip"
                                       data-placement="top"
                                       title="View">
                                        <i class="ti-pencil-alt m-r-10"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}