{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Themify icons -->
    <link rel="stylesheet" href="{% static 'themify/themify-icons.css' %}">

    <!-- Waves css -->
    <link rel="stylesheet" href="{% static 'css/waves.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>


    <title>{% block title %} {% endblock %}</title>
</head>

<body>
<header class="main-navbar-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top theme-color">
        <div class="menu-toggle-button">
            <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
                <span class="ti-menu"></span>
            </a>
        </div>
        <a class="navbar-brand" href="/">Home</a>

        <ul class="navbar-nav ml-auto navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                   aria-expanded="false">{{ request.user.get_full_name }}</a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-text">
                                <h4>{{ request.user.get_full_name }}</h4>
                                <p class="text-muted">{{ request.user.email }}</p>
                                <p class="text-info">{{ request.user.member_from }}</p>
                            </div>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="{% url 'user-update' request.user.pk %}"><i class="ti-settings"></i> Account
                        Setting</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
</header>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="nav-sidebar">
        <ul class="list-unstyled components slimescroll-id" id="accordion">
            <li>
                <a href="#userSubmenu" class="accordion-toggle wave-effect" data-toggle="collapse"
                   aria-expanded="false">
                    <i class="ti-user m-r-10"></i> Members
                </a>
                <ul class="collapse list-unstyled" id="userSubmenu" data-parent="#accordion">
                    <li><a href="{% url 'user-add' %}">Add Member</a></li>
                    <li><a href="{% url 'user-list' %}">Member List</a></li>
                </ul>
            </li>
            <li>
                <a href="#mealSubmenu" class="accordion-toggle wave-effect" data-toggle="collapse"
                   aria-expanded="false">
                    <i class="ti-time m-r-10"></i> Meals
                </a>
                <ul class="collapse list-unstyled" id="mealSubmenu" data-parent="#accordion">
                    <li><a href="{% url 'meal-add' %}">Add Meal</a></li>
                    <li><a href="{% url 'meal-list' %}">Meal List</a></li>
                </ul>
            </li>
            <li>
                <a href="#bazaarSubmenu" class="accordion-toggle wave-effect" data-toggle="collapse"
                   aria-expanded="false">
                    <i class="ti-shopping-cart m-r-10"></i> Bazaar
                </a>
                <ul class="collapse list-unstyled" id="bazaarSubmenu" data-parent="#accordion">
                    <li><a href="{% url 'bazaar-add' %}">Bazaar Entry</a></li>
                    <li><a href="{% url 'bazaar-list' %}">Bazaar List</a></li>
                </ul>
            </li>
            <li>
                <a href="#extra_costSubmenu" class="accordion-toggle wave-effect" data-toggle="collapse"
                   aria-expanded="false">
                    <i class="ti-shopping-cart m-r-10"></i> Extra Cost
                </a>
                <ul class="collapse list-unstyled" id="extra_costSubmenu" data-parent="#accordion">
                    <li><a href="{% url 'extra_cost-add' %}">Extra Cost Entry</a></li>
                    <li><a href="{% url 'extra_cost-list' %}">Extra Cost List</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" wave-effect">Contact</a>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $('.table').DataTable({
            "pagingType": "full_numbers",
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf'
            ]

            {#dom: 'Bfrtip',#}
            {#buttons: [#}
            {#    'copy', 'excel', 'pdf', 'csv'#}
            {#],#}
        });
        Waves.init();
        Waves.attach('.wave-effect', ['waves-button']);
        Waves.attach('.wave-effect-float', ['waves-button', 'waves-float']);
    });
</script>
</body>

</html>